main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.homeBG {
    width : 100px;
    background: url("/img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.minheight {
    min-height: 80vh;
}